*{margin:0;padding:0;box-sizing:border-box}

header, main, footer{
    margin:0 2em;
    position:relative;
}

/*Header*/
header{
    
}
.conteiner{
    box-shadow:0px 1px #888888;
}
nav{
    display:none
}
.logo, .bar{
    display:inline-block;
}
.bar{
    position:absolute;
    right:0;
    top:25%;
}

/*Main*/
main{
    margin-top:1.5em;
}

main h1{
    font-size:2.5em;
    font-family:Pacifico;
    text-align:center;
    color:#EA5E57;
}
.cursorPointer{
    cursor: pointer;
}
#acaoAtual{

}
#seta{
    /* position:absolute!important;
    transform-origin: center!important;
    transform: rotate(90deg); 
    color:blue;*/
}
#acoesDisponiveis{
    font-family:Pacifico;
    text-align:center;
    color:#EA5E57;
    display:none;
}
#acoesDisponiveis ul{
    list-style: none;
}
#acoesDisponiveis li span:hover{
    border-bottom:.2rem solid #EA5E57;
}
/*Progresso*/
.progresso{
    position:relative;
    width:100%;
    height:0;
    padding-bottom:calc(100% - 3em);
    border:1.5em solid #8CD4A2;
    border-radius:50%;
}
.timer{
    position:absolute;
    top:50%;
    right:50%;
    transform:translate(50%, -50%);
    font-family:Pacifico;
    color:#EA5E57;
    font-size:3em;
}
/*LOADING CIRCLE*/
.loading{
    margin:auto;
    max-width:min-content;
}
.circulo{

}
.interno, .externo{
    width:300px;
    height:300px;
    border-radius:50%;
    position:relative;
}
.interno{
    width:250px;
    height:250px;
    background-color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.externo{
    background-color:#8CD4A2;
    background:conic-gradient(#8CD4A2 320deg, #eee 0deg);
}

#tempo{
    font-family:Pacifico;
    font-size:3.5rem;;
    font-weight: bolder ;
    color:#EA5E57;
    position: relative;
    top:50%;
    left:50%;
    width:min-content;
    transform:translate(-50%,-50%);

}